<div class="buttonWrapper">
  <button (click)="nav.NavigateTo('/trainer')" >Training</button>
  <button (click)="nav.NavigateTo('/livefeed')" >Live feed</button>
  <button>Still image</button>
</div>

<style>
  .buttonWrapper {
    display: grid;
    grid-template-rows: repeat(3, 20px);
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 90vh;
    position: relative;
    gap: 18px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
  }

  button:hover {
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: #333;
  }
</style>
